
/* tamrin 6: */

/*
.grid { 
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%; 
    grid-gap: 1em 1em;
    grid-auto-flow: row dense;
    width: 750px;
    margin: 0px auto;
}
  
  
.large {
    grid-row: auto / span 2;
}
*/

